<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:tcp://localhost/~/mas</property>
        <!--<property name="connection.url">jdbc:h2:~/db-test.h2</property>-->
        <property name="connection.username">MASSPROJEKT</property>
        <property name="connection.password">s21568</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">2</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- Disable the second-level cache -->
        <property
                name="comment_cache.provider_class">org.hibernate.cache.internal.NoCacheProvider
        </property>

        <!-- Echo all executed SQL to stdout -->

<!--        <property name="show_sql">true</property>-->

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">validate</property>
        <!-- Enable Hibernate stats in the logs -->
<!--        <property name="hibernate.generate_statistics">true</property>-->
        <!--       Full names of the annotated entity class -->
        <mapping class="models.Adres"/>
        <mapping class="models.Klient"/>
        <mapping class="models.Klub"/>
        <mapping class="models.Koszt"/>
        <mapping class="models.Manager"/>
        <mapping class="models.Osoba"/>
        <mapping class="models.Ostrzezenie"/>
        <mapping class="models.Pakiet"/>
        <mapping class="models.Pracownik"/>
        <mapping class="models.Przychod"/>
        <mapping class="models.Recepcjonistka"/>
        <mapping class="models.RekordCwiczenia"/>
        <mapping class="models.RozliczenieMiesieczne"/>
        <mapping class="models.Trener"/>
        <mapping class="models.Umowa"/>
        <mapping class="models.Zajecia"/>
    </session-factory>
</hibernate-configuration>